@import "variables";
@import "./mui/button";
@import "./mui/checkbox";

.bs-text-primary {
  color: $color-text-primary;
}

.bs-bg-primary {
  background: $color-primary;
}

.bs-text-black {
  color: black !important;
}
