/*book*/

.bcontent {
  position: relative;
  padding-bottom: 2.5em !important;
}

.bcontent:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px 0px black;
}

.bcontent a img {
  margin: 5% 15%;
  height: 70%;
  width: 69%;
}

.name > a {
  font-weight: bold;
  color: black;
  text-decoration: none !important;
}

.name > a:hover {
  color: #eb1c22;
}

.buy {
  position: relative;
  text-shadow: 0px 0px 5px rgb(152, 152, 152);
  color: white;
  right: 0 !important;
}

.buy i {
  font-size: 20px;
  margin-left: 0.5em;
}

.buy-icon:hover {
  color: #eb1c22 !important;
}

.price {
  display: flex;
  width: 85%;
  justify-content: space-between;
  position: absolute;
  bottom: 0.5em;
}
