button.bs-btn {
  &.bs-btn-primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:focus,
    &:disabled,
    &:disabled:hover {
      background-color: $color-primary;
    }
  }
}
